$color: #007A4D;
$break-small: 320px;
$break-mobile: 400px;
$break-tablet: 768px;
$break-769: 769px;
$break-767: 767px;
$break-medium: 980px;
$break-1024: 1024px;
$break-1023: 1023px;
$break-large: 1200px;
$break-big: 1366px;